body{
    background-color: #f3eeea;
    
    label{
        font-weight: bold;
    }
}

h1{
    color: #A44848;
}

header{
    
    background-color: #CCDCDC;
    
    h1{
        color: #380B7D;
    }
    
}